<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../assets/images/logo.svg" alt="Logo" class="logo" style="height: 40px;">
      </a>
  
      <!-- Botão responsivo visível em telas menores -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Itens do menu -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="../index.html">Início</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../view/agendamentos.html">Agendamentos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../view/loja.html">Minha Loja</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../view/login.html">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../view/cadastro.html">Cadastro</a>
          </li>
        </ul>
  
        <!-- Botões de ação ao lado direito -->
        <div class="d-flex gap-2">
          <a href="../view/agendamentos.html" class="btn btn-primary">Fazer Agendamento</a>
          <a href="../view/loja.html" class="btn btn-secondary">Gerenciar Loja</a>
          <a href="../view/login.html" class="btn btn-outline-secondary">Login</a>
        </div>
      </div>
    </div>
  </nav>
  