<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Visual Beauty - Serviços</title>
    <script defer src="js/loadMenu.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
   
     <!-- Container para o menu -->
     <div id="menu-container"></div>
 <h1>Serviços</h1>
     <!-- Conteúdo Principal -->
     <main class="main-content" id="app">
         <!-- Conteúdo será carregado aqui -->
     </main>
 
     <!-- Footer -->
     <div id="footer-container"></div>
 
     <!-- Scripts no final do body -->
     <script type="module" src="js/router.js"></script>
     <script src="js/loadMenu.js"></script>
 </body>
 </html>
 